.w {
  width: 1200px;
  padding: 0;
  margin: 0;
  /* margin: auto; */
  box-sizing: border-box;
}
li {
  list-style: none;
}
.container {
  margin: auto;
  /* background-color: gray; */
}
.left {
  float: left;
  width: 300px;

  padding-left: 20px;
  border-right: 2px dashed skyblue;
  /* background-color: pink; */
}
.right {
  position: relative;
  float: left;
  width: 500px;
  padding-left: 30px;
  /* background-color: purple; */
}
.pic_su {
  margin-top: 40px;
  border-left: 1px solid black;
}
.pic p {
  font-size: 14px;
}
.lianxi ul li {
  margin-left: -40px;
  margin-bottom: 10px;
  font-size: 14px;
}
.qiuzhi ul li {
  margin-left: -40px;
  margin-bottom: 10px;
  font-size: 14px;
}
.zhengshu ul li {
  margin-left: -40px;
  margin-bottom: 10px;
  font-size: 14px;
}
.paixu ul li {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: -15px;
  border-radius: 15px;
  margin-top: 70px;
  text-align: center;
  line-height: 30px;
  box-shadow: 0 0 5px 2px green;
  background-color: skyblue;
}
.paixu .two {
  margin-top: 345px;
}
.paixu li:nth-child(3) {
  margin-top: 500px;
}
.paixu li:nth-child(4) {
  margin-top: 615px;
}
.paixu li:nth-child(5) {
  margin-top: 725px;
}
.jingli span {
  font-size: 12px;
  margin-left: 15px;
  color: silver;
}
.jingli ui li {
  margin-left: -40px;
  margin-bottom: 10px;
  font-size: 14px;
}
